// basic settings

.icon {
  cursor: pointer;
  width: 15px;
  height: 15px;

  &.pen {
    width: 20px;
    height: 20px;
  }
}

.hidden {
  display: none;
}

// components styles

#appContainer {
  margin-top: 2rem;
  width: 60vw;
  min-width: 300px;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7bc5ae;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;

  .titleBox {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: #003e19;
    color: whitesmoke;
    text-align: center;
  }

  .editBox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0;

    button {
      min-width: 50px;
      height: 30px;
      border-radius: 10px;
      border: none;
      color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      font-size: 1rem;
    }

    .add {
      background-color: #1d6a96;
    }

    .edit {
      background-color: #028c6a;

      &.active {
        height: auto;
        max-width: 70%;
        background-color: transparent;
        box-shadow: none;
        color: #028c6a;
        font-size: 1rem;
        font-weight: 800;
      }
    }

    .delete {
      background-color: #e81e25;

      &.active {
        height: auto;
        max-width: 70%;
        background-color: transparent;
        box-shadow: none;
        color: #e81e25;
        font-size: 1rem;
        font-weight: 800;
      }
    }

    .finish {
      white-space: nowrap;
      width: 60px;
      height: 40px;

      &.edit {
        background-color: #028c6a;
      }

      &.delete {
        background-color: #e81e25;
      }
    }
  }

  .itemBox {
    width: 100%;
    background-color: #d1ede1;

    .itemHeadings {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      h5 {
        font-size: 1rem;
      }

      .edit {
        color: #028c6a;
      }

      .delete {
        color: #e81e25;
      }
    }

    .itemCollection {

      .item {
        margin: 1rem 0;
        font-size: .8rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .itemPiece {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          color: rgb(49, 49, 49);
        }

        .title {
          padding: 0 .5rem;
        }

        .price {
          transform: translateX(-10%);
        }

        .quantity {
          // width: 50px;
          // width: 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            b {
              font-size: 1.2rem;
              margin-left: .3rem;
            }
          }

          .controlButtons {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-left: .5rem;
          }
        }
      }
    }
  }

  .totalBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h5 {
      min-width: 170px;
      max-width: 400px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;

      b {
        font-weight: 800;
      }
    }

    button {
      white-space: nowrap;
      padding: .5rem 1rem;
      border: none;
      background-color: #f2ab39;
      border-radius: 10px;
      color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      font-size: 1.5rem;
    }
  }
}

#addItemModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;

  .modalWrapper {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1dddb;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;

    .title {
      position: relative;
      width: 100%;

      h5 {
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        background-color: #283b42;
        color: whitesmoke;
        font-size: 1.4rem;
      }

      img {
        position: absolute;
        top: .8rem;
        right: .8rem;
        width: 20px;
        height: 20px;
        fill: white;
        cursor: pointer;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
          font-size: 1rem;
          margin: 1rem 0;
          color: rgb(49, 49, 49);
        }

        input {
          height: 1.5rem;
        }
      }
    }

    button {
      margin: 1.5rem 0;
      padding: .5rem 1rem;
      border: none;
      background-color: #1d6a96;
      border-radius: 10px;
      color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

#editItemModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;

  .modalWrapper {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d5d2c1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;

    .title {
      position: relative;
      width: 100%;

      h5 {
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        background-color: #370d00;
        color: whitesmoke;
        font-size: 1.4rem;
      }

      img {
        position: absolute;
        top: .8rem;
        right: .8rem;
        width: 20px;
        height: 20px;
        fill: white;
        cursor: pointer;
      }
    }

    .inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input {
        width: 50%;
        min-width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h5 {
          position: relative;
          font-size: 1rem;
          margin: 1rem 0;
          color: rgb(49, 49, 49);
          font-weight: 400;

          &::after {
            position: absolute;
            top: 0;
            right: -30px;
            content: '→';
            color: #370d00;
            font-weight: 800;
          }
        }

        input {
          margin: 1rem 0.5rem;
          height: 1.5rem;
        }
      }
    }

    button {
      margin: 1.5rem 0;
      padding: .5rem 1rem;
      border: none;
      background-color: #a46843;
      border-radius: 10px;
      color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}

#appTypeSwitch {
  .switchWrapper {
    margin-top: 50px;
    min-width: 200px;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.2rem;

    &.normal {
      background-color: black;
    }

    &.server {
      background-color: whitesmoke;
    }

    .title {
      text-align: center;
      width: 50%;
      
      &.normal {
        color: whitesmoke;
      }
  
      &.server {
        color: black;
      }
    }

    .button {
      border: none;
      margin: 10px;
      width: 50%;
      border-radius: 10px;
      font-weight: 800;

      &.normal {
        background-color: whitesmoke;
        color: black;
      }
  
      &.server {
        background-color: black;
        color: white;
      }
    }    
  }
}

.orderItemWrapper {
  margin: 1rem 0;
  width: 90%;
  background-color: whitesmoke;

  h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  .orderHeadings {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h5 {
      font-size: 1rem;
    }
  }

  .orderCollection {

    .item {
      margin: 1rem 0;
      font-size: .8rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .itemPiece {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: rgb(49, 49, 49);
      }

      .title {
        padding: 0 .5rem;
      }

      .price {
        transform: translateX(-10%);
      }

      .quantity {
        // width: 50px;
        // width: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          b {
            font-size: 1.2rem;
            margin-left: .3rem;
          }
        }

        .controlButtons {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // margin-left: .5rem;
        }
      }
    }
  }
}